backups/*
recordings/*
stubs
x.zip
./configCampaign.json


database.json
trunks.json
calls.json
banned.json
rtpc_snapshot.json
worker_capacity.json
.2rpc_table_snapshot.json
.rpc_table_snapshot.json
connections.json
.idea
*.zip
*.txt
/manage/plugins/configInterface.json
/plugins/configInterface.json
*.sqlite3*
*.log.*
*.log
/health_monitor_errors.log
/php_errors.log
/server_shutdown.log
/shutdown.log
/error_serializer.log
/fatal_errors.log
*.json
/spech/
/safra/
.gitignore
/manage/configCampaign.json
/stubs/
/spechshop.com/
